    /*  Google CDN font link */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

    /* body{
        overflow-x: hidden; 
    } */
    
    /*  variables */
    :root{
        --color-text: #fff;
        --color-other:#f44336;
        --color-p:#777;
    }
    /* universal selector */
    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style-type:none;
        font-family: "Poppins", sans-serif;
    }

    /*   header section */
    .header{
        min-height: 100vh;
        width:100%;  
        /* background-image: url(images/banner.png); */
        background-image: linear-gradient( rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.png) ; 
        background-position:center; 
        background-size: cover;
        position: relative;
        overflow:hidden;
    }

    /*  navigation section */
    .nav-section{
        padding: 2% 6%;
        display:flex;
        justify-content: space-between;
        align-items: center;

    }
    .nav-section img{
        width: 180px;
    }
    /* .nav-links ul{
        display: flex;
        gap: 3dvw;

    }*/
    .nav-links a{
        color: var(--color-text);
    } 
    .nav-links{
        flex:1;
        text-align: right;
    }
    .nav-links li{
        display: inline-block;
        padding: 8px 20px;
        position: relative;
        
    }
    
    .nav-links li::after{
        content: "";
        width:0%;
        height: 2px;
        background-color: var(--color-other);
        margin:auto;
        display: block;
        transition: 0.5s; 
    }
    .nav-links li:hover::after{
        width: 100%;
    }

    /*  Text box */
    .text-box{
        width:90%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .text-box h1{
        font-size: 62px;
        color: var(--color-text);
    }
    .text-box p{
        color:var(--color-text);
        font-size: 14px;
        margin: 10px 0px 40px 0px;
    }
     .hero-btn{
        border:1px solid var(--color-text);
        color: var(--color-text);
        padding: 12px 34px;
        display: inline-block;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        transition:1s;
    }
    .hero-btn:hover{
        border-color: var(--color-other);
        background-color: var(--color-other);
        
    }
    nav .fa-solid{
        display: none;
    }

    /*  media Query */
    @media(max-width:700px){
        .text-box h1{
            font-size:20px;
        }
        .nav-links li{
            display: block;
        }
        .text-box p{
            font-weight: 300;
        }
        .nav-links{
            height: 100vh;
            text-align: left;
            width:200px;
            position: absolute;
            top:0px;
            right:0px;
            background-color: var(--color-other);
            z-index:2;
            right:-200px;  
            /* visibility: hidden; */
            transition:1s;
            
            
        }

        /*  menu icons visible */
        nav .fa-solid{
            display: block;
            margin:10px;
            color: var(--color-text);
            font-size: 22px;
            cursor:pointer;
        }
        .nav-links ul{
            padding:30px;
        }

    }

    /*  course-section */
    .course-section{
        width: 80%;
        margin:auto;
        text-align:center;
        margin-top:100px;
    }
    .course-section h1{
        font-size: 36px;
        font-weight:600;
    }
    .course-section p{
        color: var(--color-p);
        font-size: 14px;
        font-weight: 300;
        line-height: 22px; 
        padding: 10px;
    }

    /*  course content */
    .row{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        /* gap:2%; */
    }
    .colum{
        background-color: #fff3f3;
        padding:20px 12px;
        /* margin:0px 12px 0px 12px; */
        box-sizing: border-box;
        border-radius: 10px;
        margin-bottom: 5%;
        flex-basis: 31%;  
        transition: 0.5s;
    }
    .row .colum h3{
        font-weight: 600; 
        margin:10px 0px;
    }
    .colum:hover{
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
        
    }

    /* media query */
    @media screen and (max-width: 700px){
        .row{
            flex-direction:column;
        }
        .course-section p{
            cursor:none;
        }
    }

    /*  campus-section  */
    .campus-section{
        padding-top: 50px;
        width:80%;
        margin:auto;
        text-align: center;
    
    }
    .campus-section h1{
        font-size: 36px;
        font-weight: 600;
    }
    .campus-section p{
        color: var(--color-p);
        font-weight: 300;
        font-size: 14px;
        padding: 10px; 
        line-height: 22px; 
    }
    .campus-col{
        flex-basis: 32%;
        position: relative;
        overflow:hidden;
        border-radius: 10px;
        margin-bottom:5%;
       

    }
    .campus-col img{
        width:100%; 
        
        display: block;
        /* object-fit: cover; */
    }
    .layer{
        background-color: transparent;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        /* border-radius: 10px; */
        /* visibility: hidden; */
        transition: 0.5s;
    }
    .layer h3{
        text-transform: uppercase;
        width:100%;
        color:var(--color-text);
        font-weight: 500;
        font-size: 26px;
        position: absolute;
        bottom: 0%;
        left:50%;
        transform:translateX(-50%);
        transition: 0.5s;
        opacity: 0;
    }
    .layer:hover{
        /* visibility: visible; */
        background-color: rgba(226, 0, 0, 0.7);
    }
    .layer:hover h3{
        bottom: 50%;
        opacity: 1;
    }

    /* facilities-section */

    .facilities-section{
        width:80%;
        padding-top:50px;
        margin:auto;
        text-align:center;
    }
    .facilities-section h1{ 
        font-size: 36px;
        font-weight: 600;
    }
    .facilities-section p{
        color: var(--color-p);
        font-size:14px;
        font-weight: 300;
        line-height: 22px;
        /* padding: 10px; */
        
    }
    .facilities-col{
        flex-basis:31%; 
         overflow:hidden; 
         border-radius: 10px;
         margin-bottom: 5%;
         text-align: left;
    }
    .facilities-col img{
        width:100%;
        display: block;
        border-radius: 10px;
    }
    .facilities-col h3{
        padding: 16px 0px 15px 0px;
    }
/*   testimonials-section   */

    .testimonials-section{
        width:80%;
        padding-top:50px;
        margin:auto;
        text-align: center;

    }
    .testimonials-section h1{
        font-size:36px;
        font-weight:600;
    }
    .testimonials-section p{
        font-size: 14px;
        font-weight: 300;
        padding:10px;
        color: var(--color-p);
    }
    
    .review {
        background-color: #fff3f3;
        flex-basis: 44%;
        text-align: left;
        border-radius: 10px;
        display:flex;
        margin-bottom: 5%;
        padding:25px;
    }
    .review p{
        padding: 0;
    }
    .review h3{
        margin-top: 15px;
    }
    .review img{
        border-radius: 50%; 
        height: 40px;
        margin:0px 30px 0px 5px;

       
    }
    .fa-solid,.fa-regular{
        color: var(--color-other);
    }

    /* media query for testimonials */
    @media screen and (max-width:700px) {
        .review img{
            margin-right: 15px;
            margin-left: 0px;
    }
}

/*   call action button    */
.cta{
    margin:100px auto;
    text-align:center;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(images/banner2.jpg);
    width:80%;
    padding:100px 0px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;

}
.cta h1{
    color:var(--color-text);
    text-transform:capitalize;
    font-size:36px;
    font-weight: 600;
    margin-bottom: 40px;
}
/* .cta img{
    width:100%;
} */
/* media query for tha  Call to action button  */
@media screen and (max-width:700px) {
    .cta h1{
        font-size:24px;
    }
 }

 /*   Footer -section */
 
 .footer-section {
    width:100%;
    text-align: center;
    padding-top:50px;
    padding-bottom: 50px;
 }

 .footer-section p{
    color: var(--color-p);
    font-size:14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    /* padding: 10px; */
    
}

.footer-section h3{
    margin-top:20px;
    margin-bottom: 20px;
}
 /* Icons */
 .icons .fa-brands {
    margin:0px 13px;
    padding:18px 0px;
    color:#f44336;
 }



